@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-zone {
  @apply border-solid border-black;
}

.button-digits {
  @apply bg-[#EBCC71] text-3xl col-span-1 grid place-items-center text-white rounded-[30px] w-[86px] border-2 border-black h-[53px];
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}